
h1 {
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 10rem;
}

h2 {
    font-weight: 300;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

.td_button {
    @include mtd_button();
}

#accueil {
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#product {
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        flex-wrap: wrap;

        #nameproduct {
            width: 100%;
        }

        >div {
            padding: 2%;
            width: 48%;
        }

        #photo {
    
            img {
                width: 100%;
            }
        }
        
        #info {

            #price {
                font-size: 2rem;
                font-weight: 600;
                margin: 1rem 0;
            }

            #description {

                >:nth-child(1) {
                    font-weight: 600;
                    font-size: 1.2rem;
                }

                >:nth-child(2) {
                    margin: 1rem 0;
                }
            }

        }
        
    }

    



}

#profil {
    display: flex;
    justify-content: center;
}

#login, #signin {
    
    display: flex;
    justify-content: center;

    form {
        display: flex;
        flex-direction: column;

        input {
            font-size: 1.2rem;
            border: 1px solid black;
            margin: 1rem 0;
        }
    }

    .content {
        p {
            padding: 2rem 0;
        }
    }
    
}