
h1 {
    font-size: 2rem;
    text-align: center;
}

.container {
    max-width: 1200px !important;
}

.content {
    margin: 4rem 0;
}

.card {
    margin: 1rem;
}

#accueil {
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#products .card {
    max-width: 30% !important;    
}