h1 {
    font-size: 2rem;
    margin-top: 8rem;
    text-align: center;
}

// *.wrapper {
//     margin: 0 auto;
//     max-width: 1200px;
// }

#accueil {
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#product {
    display: flex;
    justify-content: center;

    .content {
        display: flex;
        flex-wrap: wrap;

        #nameproduct {
            width: 100%;
        }

        >div {
            padding: 2%;
            width: 48%;
        }

        #photo {
    
            img {
                width: 100%;
            }
        }
        
        #info {

            #price {
                font-size: 2rem;
                font-weight: 600;
                margin: 1rem 0;
            }

            #description {

                >:nth-child(1) {
                    font-weight: 600;
                    font-size: 1.2rem;
                }

                >:nth-child(2) {
                    margin: 1rem 0;
                }
            }

        }
        
    }

    



}

#profil {
    display: flex;
    justify-content: center;
}

#signin {

    #login {
        margin-bottom: 2rem;
    }
}